<%= form_for([@event, idea], :remote => true, :html => { :multipart => true }) do |f| %>
  <div class='col-md-12'>
    <%= f.text_area :note, :placeholder => 'Note' %>
    <%= f.hidden_field :nodes, :value => idea.list_nodes, :placeholder => 'Idea nodes', :class => 'select2-tag-select' %>
    <br />
    <br />
    <% if f.object.new_record? %>
      <%= f.hidden_field :page, :class => 'select2-single-select' %>
      <br />
      <br />
    <% else %>
      <%= f.text_field :page, :placeholder => 'Page number' %>
    <% end %>
    <%= f.label :image, f.object.new_record? ? "Upload a page image" : "Replace page image" %>
    <%= image_tag idea.image.url(:thumb), :class => 'thumbnail' unless idea.image_file_name.nil? %>
    <br />
    <%= f.file_field :image %>
    <div class='actions'>
      <%= f.submit :class => 'btn btn-default' %>

      <% if idea.persisted? %>
        <a href='#' class='btn btn-default cancel-idea-update-form'>Cancel</a>
        <%= link_to "Delete", book_event_idea_path(@event, idea), :method => :delete, :remote => true, :class => "link-warning", :data => { :confirm => "Are you sure?" } %>
      <% end %>
    </div>
  </div>

<% end %>
