<%= div_for(idea) do |i| %>
  <span class='idea-content show'>
    <div class='row'>
      <div class='large-4 small-8 large-offset-8 small-offset-4 columns metadata text-align-right'>
        <%= timeago_tag idea.created_at, :nojs => true %>
      </div>
    </div>

    <div class='row'>
      <div class='large-11 small-11 columns'>
        <p><%= simple_format i.note %></p>
      </div>
      <div class='large-1 small-1 columns idea-actions'>
        <button class='edit-button'>...</button>
      </div>
    </div>

    <div class='row'>
      <div class='large-12 columns'>
        <%= image_tag i.image.url(:medium) unless i.image_file_name.nil? %>
      </div>
    </div>

    <div class='row'>
      <div class='large-6 columns'>
        <div class='node-list info'><%= i.list_nodes %></div>
      </div>

      <div class='large-6 columns'>
        <div class='page-number info'><%= "p. #{idea.page}" if idea.page %></div>
      </div>
    </div>

  </span>
  <%= render :partial => "ideas/inline_form", :locals => {idea: i} %>
<% end %>
