<%= form_for([@event, idea], :remote => true, :url => book_event_idea_path(@event, idea)) do |f| %>
  <div class='row'>
    <%= f.text_area :note, :placeholder => 'Note' %>
    <%= f.text_field :nodes, :value => idea.nodes.join(', '), :placeholder => 'Idea nodes' %>
    <%= f.text_field :page, :placeholder => 'Page number'  %>
    <%= f.file_field :image %>
  </div>
  <div class='row actions'>
    <%= f.submit :class => 'btn' %>
    <a href='#' class='btn cancel-idea-form'>Cancel</a>
    <%= link_to "Delete", book_event_idea_path(@event, idea), :method => :delete, :remote => true, :class => "link-warning", :confirm => "Are you sure?" %>
  </div>
<% end %>
