<% content_for :scripts do %>
  <script>


  </script>

<% end %>

<% content_for :event_header do %>
  <div class='large-8 small-8 columns'>
    <h2><%= @event.title %></h2>
  </div>
  <div class='large-4 small-4 columns'>
    <%= link_to '+', '#', :class => 'new-plus new-idea btn' %>
    <a href='#' class='expand-sidebar-button btn'>>></a>
    </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<%= content_for :mobile_sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<div class='clearfix'></div>

<div class='new-idea-form'>
  <%= render :partial =>  'ideas/form', :locals => { :idea => @event.ideas.new } %>
</div>

<div class='ideas'>
  <% @ideas.each do |idea| %>
    <%= render :partial => "ideas/idea", :locals => { idea: idea } %>
  <% end %>
</div>
