<% content_for :scripts do %>
  <script>


  </script>

<% end %>

<% content_for :book_title do %>
  <ul class='left'>
    <li><%= @event.title %></li>
    <li><%= link_to '+', '#', :class => 'new-plus new-idea btn' %></li>
    <li><a href='#' class='expand-sidebar-button btn'>>></a></li>
  </ul>
<% end %>

<% content_for :sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<%= content_for :mobile_sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<div class='new-idea-form'>
  <%= render :partial =>  'ideas/form', :locals => { :idea => @event.ideas.new } %>
</div>

<div class='ideas'>
  <% @ideas.each do |idea| %>
    <%= render :partial => "ideas/idea", :locals => { idea: idea } %>
  <% end %>
</div>
