<% content_for :page_scripts do %>

  <script>
    $(document).ready( function() {
      var pageOptions = [];
      var nodeOptions = [];

      <% @page_range.each do |i| %>
        pageOptions.push({id: <%= i %>, text: '<%= i %>'});
      <% end %>

      select2SingleSelect(pageOptions); 
    });

    $(document).on('page:load', function() {
      var pageOptions = [];
      var nodeOptions = [];

      <% @page_range.each do |i| %>
        pageOptions.push({id: <%= i %>, text: '<%= i %>'});
      <% end %>
      
      select2SingleSelect(pageOptions); 
    });

  </script>

<% end %>

<% content_for :title do %>
  <%= @event.title %>
<% end %>

<% content_for :header_title do %>
  <%= link_to @event.title, book_event_path(@event), :class => 'navbar-brand' %>
<% end %>

<div class='event-actions' data-event='<%=@event.id %>'>
  <% if can? :update, @event %>
    <%= link_to '+', '#', :class => 'new-plus new-idea btn' %>
  <% end %>
  <a href='#' class='expand-sidebar-button btn'>>></a>
</div>

<% content_for :header_links do %>
  <li><%= link_to "My Books", root_path %></li>
<% end %>

<% content_for :sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<%= content_for :mobile_sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<div class='clearfix'></div>

<div class='new-idea-form large-10 small-offset-1 columns'>
  <%= render :partial =>  'ideas/form', :locals => { :idea => @event.ideas.new } %>
</div>

<div class='ideas'>
  <% @ideas.each do |idea| %>
    <%= render :partial => "ideas/idea", :locals => { idea: idea } %>
  <% end %>
  <div class='row'>
    <div class='large-4 large-offset-8 columns text-align-right'>
      <%= paginate @ideas.page %>
    </div>
  </div>
</div>
