<% content_for :scripts do %>
  <script>

    $(document).on('mouseenter', '.idea', function() {
     $(this).find('.edit-button').show();
   });

    $(document).on('click', '.idea', function() {
     $(this).find('.edit-button').show();
   });

    $(document).on('mouseleave', '.idea', function() {
     $(this).find('.edit-button').hide();
    });

    $(document).on('dblclick', '.idea', function() {
      $('.idea').removeClass('editing');
      $(this).addClass('editing')
    });

    $(document).on('click', '.cancel-idea-form', function() {
      $('.idea').removeClass('editing');
      return false;
    });

    $(document).on('click', '.edit-button', function() {
      $('.idea').removeClass('editing');
      $(this).closest('.idea').addClass('editing')
      return false;
    });

    $(document).on('keypress', '.idea', function(e) {
      if (e.keyCode == 13) {
        $(this).find("form").submit();
        e.preventDefault();
      }
    });

  </script>

<% end %>

<% content_for :topbar do %>
  <div class='row'>
    <div class='large-1 small-1 columns'>
      <a href='#' class='expand-sidebar-button'>>></a>
    </div>
    <div class='large-6 small-9 columns'>
      <h1 class='subheader event-title'><%= @event.title %></h1>
    </div>
    <div class='large-6 small-2 columns'>
      <%= link_to 'New Idea', '#', :class => 'new-idea' %>
    </div>
  </div>
<% end %>
<div class='clearfix height40'></div>

<% content_for :sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<%= content_for :mobile_sidebar do %>
  <div class='idea-list'>
    <div><a href='#' class='expand-sidebar-button'><<</a></div>
    <br />
    <br />
    <div class='clearfix'></div>
    <%= render 'idea_list' %>
  </div>
<% end %>

<div class='new-idea-form'>
  <%= render 'ideas/form' %>
</div>

<div class='ideas'>
  <% @ideas.each do |idea| %>
    <%= render :partial => "ideas/idea", :locals => { idea: idea } %>
  <% end %>
</div>
