<% content_for :scripts do %>
  <script>
    $(document).on('click', 'a.new-idea', function() {
      $('.new-idea-form').slideToggle('fast');
      return false;
    });

    $(document).on('dblclick', '.idea', function() {
      $(this).addClass('editing')
    });

    $(document).on('keypress', '.idea', function(e) {
      if (e.keyCode == 13) {
        $(this).find("form").submit();
        e.preventDefault();
      }
    });

  </script>

<% end %>

<% content_for :topbar do %>
  <h1 class='subheader event-title'><%= @event.title %></h1>
  <%= link_to 'New Idea', '#', :class => 'new-idea' %>
<% end %>

<% content_for :sidebar do %>
  <div class='idea-list'>
    <%= link_to content_tag(:div, 'All', :class => 'idea-node'), book_event_path(@event) %>

    <% @idea_list.each do |idea,number| %>

      <%= link_to content_tag(:div, "#{idea}: #{number}", :class => 'idea-node'), idea_filter_path(@event, idea)  %>

    <% end %>
  </div>
<% end %>

<div class='new-idea-form'>
  <%= render 'ideas/form' %>
</div>

<div class='ideas'>
  <%= div_for(@ideas) do |idea| %>
    <div class='idea-content show'
      <p><%= simple_format idea.note %></p>
      <div class='node-list'><%= idea.list_nodes %></div>
    </div>
    <%= render :partial => "ideas/inline_form", :locals => {idea: idea} %>
  <% end %>
</div>
