<% content_for :topbar do %>
  <h1 class='subheader'><%= @event.title %></h1>
<% end %>

<% content_for :sidebar do %>
  <div class='idea-list'>
    <%= link_to content_tag(:div, 'All', :class => 'idea-node'), book_event_path(@event) %>

    <% @idea_list.each do |idea,number| %>

      <%= link_to content_tag(:div, "#{idea}: #{number}", :class => 'idea-node'), idea_filter_path(@event, idea)  %>

    <% end %>
  </div>
<% end %>


<div class='ideas'>
  <%= div_for(@ideas) do |idea| %>
    <p><%= simple_format idea.note %></p>
    <div class='node-list'><%= idea.list_nodes %></div>
  <% end %>
</div>
