<% content_for :scripts do %>

  <script>
    $(document).ready( function() {
      var dataOptions = [];

      <% (@last_page..@last_page + 15).to_a.each do |i| %>
        dataOptions.push({id: <%= i %>, text: '<%= i %>'});
      <% end %>

      select2SingleSelect(dataOptions); 

    });

  </script>

<% end %>

<% content_for :title do %>
  <%= @event.title %>
<% end %>

<% content_for :header_title do %>
  <%= link_to @event.title, book_event_path(@event) %>
<% end %>

<div class='event-actions'>
  <%= link_to '+', '#', :class => 'new-plus new-idea btn' %>
  <a href='#' class='expand-sidebar-button btn'>>></a>
</div>

<% content_for :header_links do %>
  <li><%= link_to "Homepage", root_path %></li>
<% end %>

<% content_for :sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<%= content_for :mobile_sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<div class='clearfix'></div>

<div class='new-idea-form large-10 small-offset-1 columns'>
  <%= render :partial =>  'ideas/form', :locals => { :idea => @event.ideas.new } %>
</div>

<div class='ideas'>
  <% @ideas.each do |idea| %>
    <%= render :partial => "ideas/idea", :locals => { idea: idea } %>
  <% end %>
</div>
