<% content_for :scripts do %>
  <script>


  </script>

<% end %>

<% content_for :topbar do %>
  <div class='row'>
    <div class='large-1 small-2 columns'>
      <a href='#' class='expand-sidebar-button btn'>>></a>
    </div>
    <div class='large-6 small-8 columns'>
      <h1 class='subheader event-title'><%= @event.title %></h1>
    </div>
    <div class='large-6 small-2 columns'>
      <%= link_to '+', '#', :class => 'new-plus new-idea btn' %>
    </div>
  </div>
<% end %>
<div class='clearfix height40'></div>

<% content_for :sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<%= content_for :mobile_sidebar do %>
  <%= render 'idea_list' %>
<% end %>

<div class='new-idea-form'>
  <%= render :partial =>  'ideas/form', :locals => { :idea => @event.ideas.new } %>
</div>

<div class='ideas'>
  <% @ideas.each do |idea| %>
    <%= render :partial => "ideas/idea", :locals => { idea: idea } %>
  <% end %>
</div>
