<% content_for :topbar do %>
  <h1 class='subheader'><%= @event.title %></h1>
<% end %>

<% content_for :sidebar do %>
  <div class='idea-list'>
    <div>
      <%= link_to 'All', book_event_path(@event) %>
    </div>

    <% @idea_list.each do |idea,number| %>
      <div>
        <%= link_to "#{idea}: #{number}", book_event_path(@event, :node => idea)  %>
        </div>
      <% end %>
  </div>
<% end %>


<div class='ideas'>
  <%= div_for(@ideas) do |idea| %>
    <p><%= idea.note %></p>
    <div class='node-list'><%= idea.list_nodes %></div>
  <% end %>
</div>
