<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <link href='http://fonts.googleapis.com/css?family=Glegoo|Lato:400,700|Playfair+Display:400,700' rel='stylesheet' type='text/css'>


  	<title><%= content_for?(:title) ? yield(:title) : "Book Nodes" %></title>

  	<%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>
  </head>

  <body>
    <div class='processing'>
      <img src='/images/loading.gif' />
    </div>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">
             <%= content_for?(:header_title) ? yield(:header_title) : link_to('Book Nodes', root_path, :class => 'navbar-brand') %>
           </a>
         </div>

         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav navbar-right">
             <% if content_for?(:header_links) %>
               <%= yield :header_links %>
             <% end %>
             <% if user_signed_in? %>
               <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
             <% else %>
               <li><%= link_to "Sign in with Goodreads", user_omniauth_authorize_path(:goodreads) %></li>
             <% end %>
           </ul>
          </div>
        </div>
      </div>
    </nav>

    <% if notice or alert %>
      <div class='flash row'>
        <% if flash[:notice] %>
          <%= render :partial => 'layouts/flash', :locals => { :message => notice, :type => "notice" } %>
        <% end %>

        <% if flash[:alert] %>
          <%= render :partial => 'layouts/flash', :locals => { :message => alert, :type => "alert" } %>
        <% end %>
      </div>
    <% end %>

    <div class='wrap'>
      <% if content_for?(:main_content) %>

        <div class='main-content container-fluid'>
          <%= yield(:main_content) %>
        </div>

      <% else %>
        <div class='main-content container-fluid'>
          <%= yield %>
        </div>
      <% end %>
    </div>



    <%= yield :page_scripts %>

  </body>
</html>
