<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <link href='http://fonts.googleapis.com/css?family=Glegoo|Lato:400,700|Playfair+Display:400,700' rel='stylesheet' type='text/css'>


  	<title><%= content_for?(:title) ? yield(:title) : "Book Nodes" %></title>

  	<%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>
  </head>

  <body>
    <div class='processing'>
      <img src='/images/loading.gif' />
    </div>
    <div class="fixed">
      <nav class='top-bar' data-topbar>
        <ul class='title-area'>
          <li class='name'>
            <h1>
              <%= content_for?(:header_title) ? yield(:header_title) : link_to('Book Nodes', root_path) %>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class='top-bar-section'>
          <ul class='right'>
            <% if content_for?(:header_links) %>
              <%= yield :header_links %>
            <% end %>
            <% if user_signed_in? %>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign in with Goodreads", user_omniauth_authorize_path(:goodreads) %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>

    <% if notice or alert %>
      <div class='flash row'>
        <% if flash[:notice] %>
          <%= render :partial => 'layouts/flash', :locals => { :message => notice, :type => "notice" } %>
        <% end %>

        <% if flash[:alert] %>
          <%= render :partial => 'layouts/flash', :locals => { :message => alert, :type => "alert" } %>
        <% end %>
      </div>
    <% end %>

    <% if content_for?(:main_content) %>

      <div class='main'>
        <%= yield(:main_content) %>
      </div>

    <% else %>
      <div class='main row'>
        <%= yield %>
      </div>
    <% end %>

    <%= yield :page_scripts %>

  </body>
</html>
