<% content_for :main_content do %>

  <div class='sidebar'>
    <%= yield :sidebar %>
  </div>

  <div class='mobile sidebar'>
    <%= yield :mobile_sidebar %>
  </div>

  <div class='content'>

  <div class='event-header'>
    <%= yield :event_header %>
  </div>

    <%= yield %>
  </div>
<% end %>
<%= render template: "layouts/application" %>

